<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymelaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

    <title>Home</title>
</head>
<body>
<!--<div th:text="${carro}" />-->
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="card-title"> Lista de Carros</h1>
        </div>
        <div class="col-sm-4">
            <p class="text-primary mt-4" > Ultimo acesso em <span th:text="${ultimaVez.replace('_',' ').replace('-','/') }"></span> </p>
        </div>
    </div>

</div>

<div th:if="${sucesso}" class="alert alert-success alert-dismissible fade show text-center" role="alert">
     Cadastro realizado com sucesso.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div th:if="${atualizou}" class="alert alert-success alert-dismissible fade show text-center" role="alert">
    Atualização bem sucedida
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div th:if="${apagou}" class="alert alert-success alert-dismissible fade show text-center"  role="alert">
    Registro excluido com sucesso.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="container ">
    <div class="table-responsive">
        <table class="table table-hover mb-1">
            <thead class="thead-dark" >
                <tr>
                    <th scope="col">Modelo</th>
                    <th scope="col">Cor</th>
                    <th scope="col">Ano Fabricação</th>
                    <th scope="col">Quantidade Portas</th>
                    <th scope="col">Quantidade Lugares</th>
                    <th scope="col">Operações</th>
                </tr>
            </thead>
            <tbody>
        <!--     Estudar melhor-->
            <tr th:each="c : ${carroList}" th:object="${c}">
                <td th:text="*{modelo}" >Modelo</td>
                <td th:text="*{cor}" >Cor</td>
                <td th:text="*{anoFabricacao}" >Ano Fabricação</td>
                <td th:text="*{qtdPortas}" >Quantidade Portas</td>
                <td th:text="*{qtdLugares}">Quantidade Lugares</td>
                <td>
                    <a class="btn btn-outline-warning" th:href="@{'/editar/' + *{id}}">Editar</a> &nbsp;&nbsp;&nbsp;
                    <a class="btn btn-outline-danger" th:href="@{'/deletar/' + *{id}}">Deletar </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <a class="btn btn-outline-secondary btn-lg btn-block " href="/cadastrar">Cadastrar carro</a>
    <a class="btn btn-outline-secondary btn-lg btn-block " href="https://todo-jsf.herokuapp.com/Home.jsp">Todo Com JSF</a>

</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"> </script>



</body>
</html>